<head>
	<title>Profile</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<!-- VENDOR CSS -->
	<link rel="stylesheet" href="assets/vendor/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="assets/vendor/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" href="assets/vendor/linearicons/style.css">
	<!-- MAIN CSS -->
	<link rel="stylesheet" href="assets/css/main.css">
	<link rel="stylesheet" href="assets/css/styles.css">
    <link rel="stylesheet" href="assets/css/styles-modal.css">
	<!-- GOOGLE FONTS -->
	<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700" rel="stylesheet">
	<!-- ICONS -->
	<link rel="apple-touch-icon" sizes="76x76" href="assets/img/apple-icon.png">
	<link rel="icon" type="image/png" sizes="96x96" href="assets/img/favicon.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>


<!-- TABBED CONTENT -->
<div class="custom-tabs-line tabs-line-bottom left-aligned">
    <ul class="nav" role="tablist">
        <li class="active"><a href="#tab-bottom-left1" role="tab" data-toggle="tab">Recent Activity</a></li>
        <li><a href="#tab-bottom-left2" role="tab" data-toggle="tab">Likes <span class="badge">5</span></a></li>
    </ul>
</div>
<div class="tab-content">
    <div class="tab-pane fade in active tab-pane-recent-yes" id="tab-bottom-left1">
        <ul class="list-unstyled activity-timeline">
            <li>
                <i class="fa fa-comment activity-icon"></i>
                <p>Commented on post <a href="#">R2-D2 USB Car Charger</a> <span class="timestamp">2 minutes ago</span></p>
            </li>
            <li>
                <i class="fa fa-star-o activity-icon"></i>
                <p>Liked post <a href="#">CR6019A-BK Portable USB Turnable</a><span class="timestamp">7 hours ago</span></p>
            </li>
            <li>
                <i class="fa fa-plus activity-icon"></i>
                <p>Added new <a href="#">zwap</a><span class="timestamp">Yesterday</span></p>
            </li>
            <li>
                <i class="fa fa-check activity-icon"></i>
                <p>Completed a <a href="#">zwap</a> with user <a href="#">NewWolfyX53</a> <span class="timestamp">1 day ago</span></p>
            </li>
        </ul>
        <div class="margin-top-30 text-center"><a href="#" class="btn btn-default">See all activity</a></div>
    </div>

    <div class="tab-pane fade in active tab-pane-recent-no" id="">
        No activity yet
    </div>


    <div class="tab-pane fade" id="tab-bottom-left2">
        <div class="container-fluid" id="MiniCard"></div>

        <div id="noLikes">
            You have't liked anything! 

            <div class="text-center"><a href="#" class="btn btn-default">Find something you love!</a></div>

        </div>
    </div>
</div>
<!-- END TABBED CONTENT -->

<!-- Javascript -->
<script src="assets/vendor/jquery/jquery.min.js"></script>
<script src="assets/vendor/bootstrap/js/bootstrap.min.js"></script>
<script src="assets/vendor/jquery-slimscroll/jquery.slimscroll.min.js"></script>
<script src="assets/scripts/klorofil-common.js"></script>
<script src="assets/scripts/script-profile.js"></script>                        <!-- Custom Javascript-->
<script src="assets/scripts/session.js"></script>                               <!-- Custom Javascript-->