/* CONFIRMATION PAYPAL */

h2{
    font-family: 'Unica One', cursive;
    font-size: 400%;
    text-align: justify;
    color: #4B8C22;
    margin-bottom: 2%;
}

#thank-you-donation{
    text-align: justify;
    font-size: 130%;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    padding: 8%;
}

.keep-zwapping{
    font-size: 100%;
    margin-top: 2%;
}

/* ABOUT */

#whoAreWe{
    font-family: 'Unica One', cursive;
    text-align: justify;
    font-size: 300%;
    color: #4B8C22;
    margin-top: -8%;
}

#subWhoAreWe{
    text-align: justify;
    font-size: 150%;
    margin-bottom: 2%;
    color: #979A9A;
}