/* Index:
    Nav Logo
    Search Box
    Nav Right
    Dropdown Menu
    Cards Icons
    Card
    Profile
    Star Rating
*/

/* Nav Logo */

#nav-logo{
    float: left;
    max-width: 15%;
    max-height: 15%;
    padding-top: 5px;
    margin: 0;
}

h1{
    float: left;
    color: #fff;
    font-size: 70px;
    position: relative;
    left: 20px;
    padding: 0;
    margin: 0;
    margin-right: -90px;
}

/* Search Box */
#search-box{
    width: 300px;
    height: 39px;
}

#btn-search{
    height: 39px;
}

/* Nav Right */

#nav-right{
    color: #fff;
    width: 200px;
    text-align: center;
}

#plus-nav{
    width: 30px;
    height: 30px;
}

#post-something-text:hover,
#post-something-text{
    color: #fff;
}

@media screen and (max-width: 1150px) {

   #nav-right{
        display: none;
    }

}

/* Dropdown Menu */
.small-user{
    width: 24px;
    height: 24px;
}

.dropdown-toggle{
    color: #fff !important;
}

#nav-username{
    padding: 4%;
}

/* Cards Icons */
.star{
    float: left;
    margin-left: 20%;
    width: 13%;
    height: 13%;
    cursor: pointer;
}

.comment{
    float: left;
    margin: 3px;
    margin-left: 20px;
    margin-right: 20px;
    width: 12%;
    height: 12%;
}

.zwap{
    float: left;
    margin: 1px;
    margin-bottom: 2px;
    width: 16%;
    height: 16%;
    position: relative;
    bottom: 5px;
}

/* Card */

.card-bg{
    width: 300px;
}

.decription-bg{
    height: 110px;
    overflow: hidden;
}

.card-md{
    width: 200px;
}

.card-sm{
    width: 100px;
}

.card-md-info{
    font-size: 10px;
    width:80px;
}

.card-md-info-div{
    width: 80px;
    margin: 0 auto;
}

 .card {
    margin: 10px;
    display: inline-block;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.image-bg{
    height: 180px;
}

.image-md{
    height: 120px;
}

.image-sm{
    height: 60px;
}

.container {
    padding: 2px 16px;
    word-wrap: break-word;
    text-align: justify;
}

.card-username{
    color: #2C3E50;
}

.card-username:hover{
    color: #212F3D;
}

.redirect{
    cursor: pointer;
}

/* Profile */

.img-circle-profile{
    width: 90px;
    height: 90px;
}
 
.thumb{
    padding-left: -3px;
    width: 20px;
}

.profile-info{
    text-align: justify;
}

#notDone,
#completed{
    width: 20%;
    display: inline-block;
}

#noZwaps{
    text-align: center;
    height: 600px;
}

/* Star Rating */

.star-rating{
    width: 165px;
    margin: 0 auto;
}

.checked {
    color: orange;
}

.fa-star{
    margin: 8px;
    transform: scale(2,2);
}
