h1 {
    font-size: 200px;
}

#header{
    margin: 0 auto;
    margin-top: 0;
    padding: 0;
    width: 100%;
    height: 60%;
    background-color: #5FA037;
    display: table;
}

#header-inside{
    display: table-cell;
    vertical-align: middle;
}

#zwapp{
    color: #fff;
    text-align: center;
    margin: 0 auto;
    width: 400px;
}

#logo{
    text-align: center;
    margin: 0 auto;
    width: 250px;
    position: relative;
    top: 70px;
}

#logo-img{
    width: 70%;
    height: 70%;
}

/* LOGIN */

#login-container{
    width: 100%;
    height: 40%;
    display: table;
}

#login-inside{
    padding: 2%;
    display: table-cell;
    vertical-align: middle;
}

.form-auth-small{
    margin: 0 auto;
    width: 500px;
}

.bottom{
    margin: 5%;
}

.btns{
    margin: 1% auto;
    border-radius: 5px;
    width: 90%;
}

input[name="create"]{
    width: 100%;
    -webkit-appearance: button;
    cursor: pointer;
}

/* Paypal Btns */

.btns_onlyForPaypal{
    margin: 1% auto;
    border-radius: 5px;
}

.paypal{
    margin: 0 auto;
    width: 60%;
}