/* MODAL ITEM ZWAP */

.modal-content{
    background-color: #EFEFEF;
    border-radius: 10px;
}

.modal-title{
    margin: 0;
    padding: 0;
    text-align: center;
    color: #000000;
}

.lead{
    font-family: "Source Sans Pro", sans-serif;
    font-size: 25px;
}

.lead-sm{
    font-size: 15px;
}

.modal-about{
    margin: 0 auto;
    padding: 10px;
    width: 450px;
    height: 100px;
    display: table;
}

.modal-img{
    padding: 5px;
    float: left;
}

.modal-text{
    float: left;
    color: #676a6d !important;
}

.modal-close{
    float: right;
    color: black !important;
}

/* CHECK ANIMATION */

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

.animated.infinite {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite; }

.animated.hinge {
  -webkit-animation-duration: 2s;
  animation-duration: 2s; }

.animated.flipOutX,
.animated.flipOutY,
.animated.bounceIn,
.animated.bounceOut {
  -webkit-animation-duration: .75s;
  animation-duration: .75s; }

@-webkit-keyframes rotateIn {
  from {
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: rotate3d(0, 0, 1, -200deg);
    transform: rotate3d(0, 0, 1, -200deg);
    opacity: 0; }
  to {
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: none;
    transform: none;
    opacity: 1; } }

@keyframes rotateIn {
  from {
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: rotate3d(0, 0, 1, -200deg);
    transform: rotate3d(0, 0, 1, -200deg);
    opacity: 0; }
  to {
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: none;
    transform: none;
    opacity: 1; } }

.rotateIn {
  -webkit-animation-name: rotateIn;
  animation-name: rotateIn; }


/* ASK */

.ask{
    width: 550px;
    height: 100px;
    border-radius: 10px;
    border: 1px #BDC3C7 solid;
    resize: none;
    padding: 10px;
    margin: 5px;
}