.container-to-zwap{
    margin: 0 auto;
    display: table;
    width: 100%;
    height: 100%;
}

/* PREVIEW */

.preview-div{
    margin: 0 auto;
    display: table;
    margin-bottom: 20px;
}

.preview{
    height: 250px;
}

/* WARNING */

.warning{
    margin: 0 auto;
    text-align: center;
    color: #000000;
    width: 800px;
}

/* TO ZWAP */

.to-zwap{
    margin: 0 auto;
    margin-top: 1%;
    display: table;
}

.to-zwap-text{
    margin-top: 0px;
    color: #000000;
    width: 450px;
    position: relative;
    bottom: 20px;
}

.yes-zwap{
    width: 35%;
    height: 35%;
}

.no-zwap{
    width: 30%;
    height: 30%;
    padding: 5px;
    padding-top: 20px;
}

.left{
    float: left;
}

.right{
    float: right;
}