/* RIGHT LINKS */

.item-right-btns{
    float: right;
    text-align: center;
}

.item-zwapp{
    width: 75%;
}

.item-comment{
    margin-top: 12px;
    width: 61%;
}

.item-like{
    margin-top: 35px;
    width: 67%;
    cursor: pointer;
}

/* PREVIEW */
.preview{
    display: inline-block;
}

.preview-main{
    float: left;
    width: 497px;
    height: 290px;
}

.preview-side{
    float: left;
    width: 120px;
}

.preview-sm{
    width: 100px;
    height: 58px;
    margin-bottom: 10px;
}

/* PREVIEW INFORMATION */
.item-info{
    padding: 10px;
    width: 650px;
    height: 100px;
}

.item-user{
    float: left;
    text-align: center;
    width: 90px;
    margin: 20px;
}

.item-user-logo{
    width: 30px;
    height: 30px;
}

.item-title{
    float: left;
    margin: 5px;
}

.title{
    color: black;
}

.item-description{
    margin: 40px;
    width: 600px;
    clear: left;
    text-align: justify;
}

/* **** Add Zwap **** */

/* PREVIEW */

#main{
    height: 100%;
}

 .fix-card {
    height: 310px;
}

/* PREVIEW INFORMATION */
.input-title{
    margin-top: 5%;
    width: 75%;
}

.fix-description{
    position: relative;
    bottom: 20px;
}

textarea {
    position: relative;
    resize: none;
}

#category-droplist{
    margin-top: -100px;
    padding: 55px;
    width: 700px; 
}

/* ZWAP IT */

#zwap-it{
    margin: 0 auto;
    text-align: center;
}

/* UPLOAD */

.image-upload > input
{
    display: none;
}

.image-upload img
{
    cursor: pointer;
}
